* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: #2a2a2a;
  background-color: #fafafa;
}

/* Таблиця уроку */

.products {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.products th,
.products td {
  padding: 4px 8px;
  border: 1px solid #2a2a2a;
}

.products caption {
  font-size: 32px;
  margin-bottom: 8px;
  caption-side: top;
}

.products thead,
.products tfoot {
  background-color: aquamarine;
}

.products tbody tr:nth-child(odd) {
  background-color: bisque;
}

.products tbody tr:nth-child(even) {
  background-color: burlywood;
}

.products tbody td:hover {
  background-color: orangered;
}

/* Таблиця практики */

.practice {
  border-collapse: collapse;
  width: 100%;
}

.practice th,
.practice td {
  border: 1px solid #2a2a2a;
  padding: 8px;
  text-align: center;
}

.practice caption {
  font-size: 32px;
}
